body{
  text-align: center;
}
#about{
  background: rgb(85,82,81);
background: linear-gradient(90deg, rgba(85,82,81,1) 21%, rgba(2,0,36,1) 57%, rgba(0,212,255,1) 100%);
}
#welcome{
  background-color: chartreuse;
} 
html{
  scroll-behavior: smooth;
}
.links{
  display: inline;
  padding-right: 25px;
  padding-left: 33px;
  font-family: fantasy;
  font-size: 20px
}     